.confirm-problem-view {

}

.project_info_data {
    background: #707F99;
}

.segment_info_data {
    border-radius: 0 0 12px 12px;
    background: #707F99;
}

.project_name_link {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    padding: 8px 10px;
}
.segment_header_links {
    color: #ffffff;
    padding: 14px 10px;
    font-size: 16px;
    text-decoration: none;
}
.segment_header_links:hover {
    color: #ffffff;
    text-decoration: none;
}
.segment_header_links:visited {
    color: #ffffff;
    text-decoration: none;
}
.segment_header_links:focus {
    color: #ffffff;
    text-decoration: none;
}

.add_new_question_button {
    color: #52BE7F;
    font-size: 24px;
}
.add_new_question_button:hover {
    color: #52BE7F;
    text-decoration: none;
}
.add_new_question_button:visited {
    color: #52BE7F;
    text-decoration: none;
}
.add_new_question_button:focus {
    color: #52BE7F;
    text-decoration: none;
}

.header-table {
    background: #707F99;
    border-radius: 3px 3px 0 0;
    padding: 7px 0;
}

.form-update-data-confirm {
    padding: 10px 15px 30px 15px;
    background: #F2F2F2;
    display: none;
    min-height: calc(100vh - 200px);
}

.form-view-data-confirm {
    padding: 10px 15px 30px 15px;
    background: #F2F2F2;
    min-height: calc(100vh - 200px);
}

.block-buttons-update-data-confirm {
    padding: 0;
    text-align: right;
}

.row_header_data {
    font-size: 24px;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
}

.link_add_respond_text {
    color: #52BE7F;
    font-size: 24px;
}

.link_add_respond_text:hover {
    text-decoration: none;
    color: #52BE7F;
}

.link_add_respond_text:focus {
    text-decoration: none;
    color: #52BE7F;
}

.headers_data_respond_hi {
    font-weight: 700;
    color: #4F4F4F;
}
.headers_data_respond_low {
    font-size: 14px;
    color: #4F4F4F;
}

.row.row_header_data {
    margin: 0 15px;
}

.container-data {
    padding: 10px 15px 30px 15px;
    background: #F2F2F2;
    min-height: calc(100vh - 200px);
}

.container-one_respond {
    background: #707F99;
    color: #FFFFFF;
    padding: 0 5px;
    min-height: 60px;
    border-radius: 12px;
}

.container-one_respond:hover {
    background: #7F9FC5;
    transition: .3s;
}

.container-one_respond:focus {
    background: #7F9FC5;
}

@media screen and (min-width: 1140px) {

    .container-one_respond {
        display: flex;
        align-items: center;
    }
}

.container-respond_name_link {
    color: #ffffff;
    font-size: 18px;
}

.container-respond_name_link:hover {
    color: #ffffff;
    text-decoration: none;
}

.container-respond_name_link:focus {
    color: #ffffff;
    text-decoration: none;
}

.container-respond_data_link {
    color: #ffffff;
    padding: 0 5px;
}

.container-respond_data_link:hover {
    color: #ffffff;
    text-decoration: none;
}

.container-respond_data_link:focus {
    color: #ffffff;
    text-decoration: none;
}

@media screen and (min-width: 1140px) {
    .segment_header_links {
        text-align: right;
    }
}

@media screen and (max-width: 1140px) {

    .project_name_link {
        text-align: center;
    }

    .segment_header_links {
        text-align: center;
        padding: 0 10px 15px 10px;
    }

    .block-buttons-update-data-confirm {
        text-align: left;
    }

}

@media screen and (max-width: 768px) {

    .segment_header_links {
        text-align: center;
        padding: 0 10px 5px 10px;
    }

    .project_info_data > .segment_header_links:last-child {
        padding-bottom: 15px;
    }

    .segment_info_data > .segment_header_links:last-child {
        padding-bottom: 15px;
    }

}

/*Стили для формы добавления вопроса
---Начало---
*/
form#addNewQuestion {
    position: relative;
}

input#add_text_question_confirm {
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
    box-shadow: none; /* Убираем тень в Firefox */
    padding-right: 40px;
}

a#button_add_text_question_confirm {
    position: absolute;
    right: 17px;
    top: 2px;
    background-color: #fff;
    border-radius: 0 12px 12px 0;
    border-width: 0 0 0 1px;
    border-color: rgb(136, 136, 136);
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    z-index: 30;
}
a#button_add_text_question_confirm:focus {
    box-shadow: none;
}
.triangle-bottom {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid rgb(136, 136, 136);
}
@media screen and (max-width: 768px) {

    #submit_addNewQuestion {
        margin-top: 55px;
    }
}
/*Стили для формы добавления вопроса
---Конец---
*/