.generation-problem-index {

}

.project_name_link {
    /*color: #F2F2F2;*/
    color: #ffffff;
    font-size: 17px;
    font-weight: 700;
    padding: 8px 10px;
}
.segment_header_links {
    /*color: #F2F2F2;*/
    color: #ffffff;
    padding: 10px;
    /*font-size: 16px;*/
    text-decoration: none;
}
.segment_header_links:hover {
    color: #ffffff;
    text-decoration: none;
}
.segment_header_links:visited {
    color: #ffffff;
    text-decoration: none;
}
.segment_header_links:focus {
    color: #ffffff;
    text-decoration: none;
}

.header-table {
    background: #707F99;
    border-radius: 12px 12px 0 0;
    padding: 14px 0;
    color: #ffffff;
    font-size: 24px;
}

@media screen and (min-width: 1140px) {
    .segment_header_links {
        text-align: right;
    }
}

@media screen and (max-width: 1140px) {

    .project_name_link {
        text-align: center;
    }

    .segment_header_links {
        text-align: center;
        padding: 0 10px 15px 10px;
    }

}

@media screen and (max-width: 768px) {

    .segment_header_links {
        text-align: center;
        padding: 0 10px 5px 10px;
    }

    .project_info_data > .segment_header_links:last-child {
        padding-bottom: 15px;
    }

    .segment_info_data > .segment_header_links:last-child {
        padding-bottom: 15px;
    }
}