.projects-index {

}

.container-data {
    padding: 10px 15px 30px 15px;
    background: #FFFFFF;
    min-height: calc(100vh - 200px);
}

.row_header_data_generation {
    font-size: 24px;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
}

.row.row_header_data_generation {
    margin: 0 15px;
}

.new_hypothesis_link_block {
    display:flex;
    align-items: center;
    padding: 5px 10px 5px 0;
}
.new_hypothesis_link_plus {
    color: #52BE7F;
    font-size: 24px;
}
.new_hypothesis_link_plus:hover {
    color: #52BE7F;
    text-decoration: none;
}
.new_hypothesis_link_plus:focus {
    color: #52BE7F;
    text-decoration: none;
}

.header_data_hypothesis {
    font-weight: 700;
    color: #4F4F4F;
}

.row .container-one_hypothesis {
    margin: 3px 0; padding: 0;
}
.container-one_hypothesis {
    background: #707F99;
    color: #FFFFFF;
    padding: 0 5px;
    min-height: 60px;
    border-radius: 12px;
}

.container-one_hypothesis:hover {
    background: #7F9FC5;
    transition: .3s;
}

.container-one_hypothesis:focus {
    background: #7F9FC5;
}

@media screen and (min-width: 1250px) {

    .container-one_hypothesis {
        display: flex;
        align-items: center;
        overflow: hidden;
        max-height: 60px;
    }
}

.row .container-one_hypothesis div {
    overflow: hidden;
    max-height: inherit;
}

.project_name_table {
    font-size: 18px;
    font-weight: 700;
    padding: 0 5px;
    color: #FFFFFF;
}

.project_description_text {
    font-size: 12px;
    padding: 0 5px;
}

.text_14_table_project {
    font-size: 14px;
    line-height: 18px;
    padding: 4px 0;
    display: flex;
}

.project_menu {
    background: #707F99;
    padding: 14px 15px;
}

@media screen and (min-width: 1140px) {

    .project_menu {
        text-align: right;
    }
    .link_in_the_header {
        padding-right: 35px;
    }
}

@media screen and (max-width: 1140px) {

    .link_in_the_header {
        display: block;
        text-align: left;
        padding-left: 25px;
    }
}

.link_in_the_header {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
}
.link_in_the_header:hover {
    color: #ffffff;
    text-decoration: none;
}
.link_in_the_header:focus {
    color: #ffffff;
    text-decoration: none;
}