
.feed-exp
{
    display: none;
}
.feed-exp.active
{
    display: block;
    margin-top: -20px;
}

.border-gray{
    border-bottom: #e7e8e6 solid 1px;
}

/*Стили для pdf-бизнес-модели
---Начало---
*/
.block-200-export{
    width: 220px;
    margin: 0 5px 5px 0;
    vertical-align: top;
    border: solid 1px #9d9d9d;
    padding: 5px;
    color: #4c4c4c;
    font-size: 12px;
    border-radius: 5px;
}
.block-100-export{
    width: 550px;
    vertical-align: top;
    margin: 0 5px 5px 0;
    border: solid 1px #9d9d9d;
    padding: 0 5px;
    color: #4c4c4c;
    font-size: 12px;
    border-radius: 5px;
}
.export_business_model_mini_header {
    font-weight: 700;
    color: #828282;
    margin-top: 7px;
}
/*Стили для pdf-бизнес-модели
---Конец---
*/

.bolder{
    font-weight: 700;
}

/* Показать и скрыть данные - начало
--------------------------------------------*/
.faq_list{
    position: relative;
    color: #202020;
    margin: 5px 0;
}
.faq_item{
    box-sizing: border-box;
    border-left: 8px solid #3A3A3A;
    padding-left: 15px;
    padding-bottom: 5px;
}
.faq_item_title{
    box-sizing: border-box;
    font-size: 13px;
    position: relative;
    font-weight: 900;
}
.faq_item_title_inner{
    display: inline-block;
    position: relative;
    padding: 0 50px 0 0;
    cursor: pointer;
}
.faq_item_title_inner:hover{
    color: #FDA900;
    transition: .4s;
}
.faq_item_title_inner:hover:before{
    transform: translateY(1px);
}
.faq_item_title_inner:before{
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    width: 20px;
    height: 100%;
    background: url(../images/icons8-sort-down-30.png) no-repeat center center;
    cursor: pointer;
    transition: .4s;
    transition-timing-function: ease-in-out;
}
.faq_item_title_inner.open:before{
    transform: rotate(180deg);
}
.faq_item_body{
    font-size: 14px;
    padding: 20px 0 2px 0;
    box-sizing: border-box;
    display: none;
}
.faq_show_all{
    font-weight: 900;
    padding-left: 45px;
    margin-top: 30px;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}
.faq_show_all:hover{
    color: #FDA900;
    font-size: 15px;
}

/* Показать и скрыть данные - конец
--------------------------------------------*/

/*
Стилизация подсказок (title)
---Начало---
*/

.ui-tooltip, .pro-tooltip:after {
    background: black;
    border: 2px solid white;
}
.ui-tooltip {
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    /*text-transform: uppercase;*/
    box-shadow: 0 0 7px black;
}
.pro-tooltip {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
}
.pro-tooltip.top {
    top: -16px;
    bottom: auto;
}
.pro-tooltip.left {
    left: 20%;
}
.pro-tooltip:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.pro-tooltip.top:after {
    bottom: -20px;
    top: auto;
}

/*
Стилизация подсказок (title)
---Конец---
*/


/*
Стилизация индикатора проектов в админке
---Начало---
*/

.bgc-success {

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#59b55b+0,59b55b+100 */
    background: rgb(89,181,91); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(89,181,91,1) 0%, rgba(89,181,91,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(89,181,91,1) 0%,rgba(89,181,91,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(89,181,91,1) 0%,rgba(89,181,91,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59b55b', endColorstr='#59b55b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.bgc-warning {

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fdc001+0,fdc001+100 */
    background: rgb(253,192,1); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(253,192,1,1) 0%, rgba(253,192,1,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(253,192,1,1) 0%,rgba(253,192,1,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(253,192,1,1) 0%,rgba(253,192,1,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdc001', endColorstr='#fdc001',GradientType=1 ); /* IE6-9 */

}
/*
Стилизация индикатора проектов в админке
---Конец---
*/


/*
Стилизация вкладок на странице "Подтверждение"
---Начало--
*/

/* Style the tab */
.tab {
    overflow: hidden;
    padding: 0;
    margin-top: 10px;
    font-family: 'RobotoCondensed-Light', serif;
    font-size: 16px;
}
/* Style the buttons that are used to open the tab content */
.tab button {
    /*width: 20%;*/
    text-align: center;
    border-radius: 12px 12px 0 0;
    height: 50px;
    overflow: hidden;
    background: #828282;
    color: #ffffff;
    float: left;
    border: 1px solid #F2F2F2;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#707f99+0,707f99+100 */
    background: #707f99; /* Old browsers */
    background: -moz-linear-gradient(top,  #707f99 0%, #707f99 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #707f99 0%,#707f99 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #707f99 0%,#707f99 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#707f99', endColorstr='#707f99',GradientType=0 ); /* IE6-9 */
    color: #ffffff;
}

/* Create an active/current tablink class */
.tab button.active {
    background: #707f99; /* Old browsers */
    background: -moz-linear-gradient(top,  #707f99 0%, #707f99 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #707f99 0%,#707f99 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #707f99 0%,#707f99 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#707f99', endColorstr='#707f99',GradientType=0 ); /* IE6-9 */
    color: #ffffff;
    overflow: hidden;
    float: left;
    border: 1px solid #F2F2F2;
    outline: none;
    cursor: pointer;
}

/* Style the tab content */
.tabcontent {
    display: none;
    /*padding: 0;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-top: none;*/
}

@media screen and (max-width: 1140px) {

    .tab button {
        /*width: 50%;*/
        border-radius: 0;
    }
}

@media screen and (max-width: 768px) {

    /*.tab button {
        width: 100%;
    }*/
}

/*
Стилизация вкладок на странице "Программа генерации ГПС"
---Конец--
*/

/*
Стилизация подобия вкладок на странице "Создание подтверждения"
---Начало--
*/

.block-link-create-interview {
    padding: 0;
    margin-top: 10px;
}

.link_create_interview {
    text-align: center;
    border-radius: 12px 12px 0 0;
    height: 50px;
}

@media screen and (max-width: 1140px) {

    .link_create_interview {
        width: 50%;
        border-radius: 0;
    }
}

@media screen and (max-width: 768px) {

    .link_create_interview {
        width: 100%;
    }
}

.link_active_create_interview {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#707f99+0,707f99+100 */
    background: #707f99; /* Old browsers */
    background: -moz-linear-gradient(top,  #707f99 0%, #707f99 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #707f99 0%,#707f99 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #707f99 0%,#707f99 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#707f99', endColorstr='#707f99',GradientType=0 ); /* IE6-9 */
    color: #ffffff;
    overflow: hidden;
    float: left;
    border: 1px solid #F2F2F2;
    outline: none;
    cursor: pointer;
}

.link_passive_create_interview {
    background: #828282;
    color: #ffffff;
    float: left;
    border: 1px solid #F2F2F2;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.link_create_interview-block_text {
    display:flex;
    align-items: center;
}

.link_create_interview-text_left {
    width: 100px;
    font-size: 20px;
    text-align: left;
    font-weight: 700;
}

.link_create_interview-text_right {
    line-height: 16px;
    font-size: 16px;
}

/*
Стилизация подобия вкладок на странице "Создание Программы генерации ГПС"
---Конец--
*/


/* Скругление аватарки в беседах*/
.round-avatar {
    border-radius: 100px; /* Радиус скругления */
    border: 1px solid #ccc; /* Параметры рамки */
}

/*Ссылки для беседы*/

.conversation-link {
     text-decoration: none;
     font-weight: 700;
     outline: none;
 }
.conversation-link:hover {
    text-decoration: none;
    /*background-color: #9acfea;*/
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#347ab6+0,347ab6+100 */
    background: rgb(52,122,182); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(52,122,182,1) 0%, rgba(52,122,182,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(52,122,182,1) 0%,rgba(52,122,182,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(52,122,182,1) 0%,rgba(52,122,182,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#347ab6', endColorstr='#347ab6',GradientType=1 ); /* IE6-9 */
    color: #fff;

}
.conversation-link:active {
    text-decoration: none;
    /*background-color: #9acfea;*/
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#347ab6+0,347ab6+100 */
    background: rgb(52,122,182); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(52,122,182,1) 0%, rgba(52,122,182,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(52,122,182,1) 0%,rgba(52,122,182,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(52,122,182,1) 0%,rgba(52,122,182,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#347ab6', endColorstr='#347ab6',GradientType=1 ); /* IE6-9 */
    color: #fff;

}
.conversation-link-data {
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    color: #2b2b2b;
}
.conversation-link-time {
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    color: #2b2b2b;
    margin-right: 10px;
}
.conversation-link-text {
    text-decoration: none;
    font-weight: 400;
    font-size: 13px;
    color: #2b2b2b;
    padding-top: 5px;
}
.conversation-link>:hover .conversation-link-text{
    color: #fff;
}



/*Блок прокрутки в сообщениях
---Начало---
*/

.chat {
    /*width: 760px;*/
    padding: 20px 0;
    height: 80vh;
    background-color: rgb(226, 226, 226);
    overflow-y: auto;
}

.message {
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
    /*width: 100%;*/
    overflow: hidden;
    font-size: 14px;
    font-family: "Helvetica", sans-serif;
}
.income {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 13px;
    margin-left: 10px;
    max-width: 50%;
    float: left;
}
.income_data {
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.send {
    padding-left: 15px;
    padding-bottom: 13px;
    padding-right: 15px;
    margin-right: 10px;
    max-width: 50%;
    float: right;
}
.send_data {
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    /*background-color: rgb(41, 167, 222);*/
    border-radius: 10px;
    color: rgb(255, 255, 255);
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#347ab6+0,347ab6+100 */
    background: rgb(52,122,182); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(52,122,182,1) 0%, rgba(52,122,182,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(52,122,182,1) 0%,rgba(52,122,182,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(52,122,182,1) 0%,rgba(52,122,182,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#347ab6', endColorstr='#347ab6',GradientType=1 ); /* IE6-9 */
}
::-webkit-scrollbar {
    display: none;
}

/*Блок прокрутки в сообщениях
---Конец---
*/


/* /projects/upshot - таблица kartik yii2-grid
---Начало---
*/
.table-project-kartik {
    font-family: 'Roboto-Regular', serif;
    color: #373737;
}

.table-respond-index-kartik {
    font-family: 'Roboto-Regular', serif;
    color: #373737;
}

.font-header-table {
     text-align: center;
     color: #4F4F4F;
}

.font-segment-header-table {
    color: #4F4F4F;
}

.table-kartik-link {
    font-weight: 500;
    text-decoration: none;
    color: #373737;
}

.table-kartik-link:hover {
    color: #373737;
}

.table-kartik-link:active {
    color: #373737;
}

.style-header-table-kartik {
    background: #F2F2F2;
}

.style-head-table-kartik-top {
    background: #707F99;
    border-radius: 3px 3px 0 0;
    text-align: center;
    padding: 7px 0;
}

.style-head-table-kartik-bottom {
    background: #F2F2F2;
}

/* /projects/upshot - таблица kartik yii2-grid
---Конец---
*/

/*
Навигация по этапам разработки пользов-го проекта
---Начало---
*/
.navigation_blocks {
    display: flex;
}

.navigation_block {
    height: auto;
    /*width: 160px;*/
    width: 11.111%;
    font-size: 12px;
    text-align: center;
    justify-content: space-between;
    padding: 2px 7px;
    display: flex;
    align-items: center;
}

.navigation_block:nth-child(7) > div:nth-child(2) {
    padding-right: 30px;
    padding-left: 15px;
}
.navigation_block:nth-child(8) > div:nth-child(2) {
    padding-right: 15px;
    padding-left: 15px;
}
.navigation_block:nth-child(9) > div:nth-child(2) {
    padding-right: 15px;
    padding-left: 5px;
}

@media screen and (min-width: 1400px) {

    .navigation_block:nth-child(8) > div:nth-child(2) {
        padding-right: 20px;
        padding-left: 20px;
    }

    .navigation_block:nth-child(9) > div:nth-child(2) {
        padding-right: 20px;
        padding-left: 10px;
    }
}

@media screen and (min-width: 1700px) {

    .navigation_block:nth-child(1) > div:nth-child(2) {
        padding-right: 25px;
        padding-left: 5px;
    }

    .navigation_block:nth-child(7) > div:nth-child(2) {
        padding-right: 35px;
        padding-left: 20px;
    }

    .navigation_block:nth-child(9) > div:nth-child(2) {
        padding-right: 30px;
        padding-left: 15px;
    }

    .navigation_block > .stage_number {
        padding-left: 7px;
        padding-right: 10px;
    }
    .navigation_block {
        font-size: 13px;
    }
}

@media screen and (min-width: 1900px) {

    .navigation_block:nth-child(1) > div:nth-child(2) {
        padding-right: 25px;
        padding-left: 5px;
    }

    .navigation_block:nth-child(2) > div:nth-child(2) {
        padding-right: 15px;
        padding-left: 5px;
    }

    .navigation_block:nth-child(3) > div:nth-child(2) {
        padding-right: 15px;
        padding-left: 5px;
    }

    .navigation_block:nth-child(7) > div:nth-child(2) {
        padding-right: 50px;
        padding-left: 30px;
    }

    .navigation_block:nth-child(8) > div:nth-child(2) {
        padding-right: 30px;
        padding-left: 30px;
    }

    .navigation_block:nth-child(9) > div:nth-child(2) {
        padding-right: 40px;
        padding-left: 30px;
    }

    .navigation_block > .stage_number {
        padding-left: 7px;
        padding-right: 10px;
    }
    .navigation_block {
        font-size: 14px;
    }
}

.passive_navigation_block:hover {
    background: url('/../images/elements/active_navigation_block.png') no-repeat;
    background-size: 100% 100%;
    color: #F3F7F7;
    text-decoration: none;
}

.passive_navigation_block:hover > .stage_number {
    color: #FFFFFF;
    text-decoration: none;
}

.passive_navigation_block:focus {
    background: url('/../images/elements/active_navigation_block.png') no-repeat;
    background-size: 100% 100%;
    color: #F3F7F7;
    text-decoration: none;
}

.passive_navigation_block:focus > .stage_number {
    color: #FFFFFF;
    text-decoration: none;
}

.passive_navigation_block {
    background: url('/../images/elements/passive_navigation_block.png') no-repeat;
    background-size: 100% 100%;
    color: #4F4F4F;
}

.no_transition_navigation_block {
    background: url('/../images/elements/passive_navigation_block.png') no-repeat;
    background-size: 100% 100%;
    color: #BDBDBD;
}

.active_navigation_block {
    background: url('/../images/elements/active_navigation_block.png') no-repeat;
    background-size: 100% 100%;
    color: #F3F7F7;
}

.stage_number {
    font-family: 'RobotoCondensed-Bold', serif;
    font-size: 32px;
    color: #707F99;
    font-weight: bold;
    padding-left: 2px;
    padding-right: 0;
}

.active_navigation_block > .stage_number {
    color: #FFFFFF;
}

.navigation_blocks > .navigation_block:nth-child(7) > .stage_number,
.navigation_blocks > .navigation_block:nth-child(9) > .stage_number {
    padding-right: 15px;
}
/*
Навигация по этапам разработки пользов-го проекта
---Конец---
*/

/*Стиль для заголовком модальных окон с формами
---Начало---
*/
.style_header_modal_form {
    border-bottom: none;
    font-size: 24px;
    font-family: 'RobotoCondensed-Bold', serif;
    color: #333333;
}
/*Стиль для заголовком модальных окон с формами
---Конец---
*/

/*Стили для полей форм
---Начало---
*/
.style_form_field_respond {
    height: 40px;
    border-radius: 12px;
    border: 1px solid #828282;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.form-control{
    font-size: 16px;
}
/*Стили для полей форм
---Конец---
*/

/*Стилизация для поля Select2
---Начало---
*/
.select2-container--krajee .select2-selection--single,
.select2-container--krajee .select2-selection--single {
    font-size: 16px;
    height: 40px;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 15px;
    border: 1px solid #828282;
}

.select2-container--krajee .select2-selection--single .select2-selection__arrow,
.select2-container--krajee .select2-selection--single .select2-selection__arrow {
    height: 39px;
}

.select2-results__option {
    padding: 6px 15px;
}

.input-lg.select2-container--krajee .select2-selection__clear,
.input-group-lg .select2-container--krajee .select2-selection__clear {
    top: 0.6rem;
}
/*Стилизация для поля Select2
---Конец---
*/

/*Стилизация для поля DepDrop::TYPE_SELECT2
---Начало---
*/
.select2-container--krajee .select2-selection--single {
    font-size: 16px;
    height: 40px;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 15px;
}

.select2-container--krajee .select2-selection__clear {
    top: 0.6rem;
}

.select2-container--krajee .select2-selection--single .select2-selection__arrow {
    height: 39px;
}

.select2-container--krajee .select2-search--dropdown .select2-search__field {
    padding-left: 10px;
}

.select2-container--krajee .select2-selection {
    border-radius: 12px;
}
/*Стилизация для поля DepDrop::TYPE_SELECT2
---Конец---
*/

/*Стилизация для строки вопроса Шаг 2
---Начало---
*/
.style_form_field_questions {
    min-height: 40px;
    border-radius: 12px;
    border: 1px solid #828282;
    background: #ffffff;
    color: #333333;
    padding: 5px 10px;
}

div.style_form_field_questions {
    display:flex;
    align-items: center;
    margin: 2px 15px;
}
/*Стилизация для строки вопроса Шаг 2
---Конец---
*/

/*Стили для главной страницы
---Начало---
*/
.background_for_main_page {
    background-image: url("../images/backgrounds/background_for_login_page.png");
    min-height: 100%;
    min-width: 300px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top_line_text_main_page {
    margin: 60px 0 0 0;
    padding: 0;
}
.top_line_text_main_page > div {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;
    min-height: 60px;
    height: 100%;
    background: #E0E0E0;
}

.content_main_page {
    position:fixed;
    top: 20%;
    display:flex;
    width: 100%;
}

.style_form_login {
    background: #707F99;
    width: 340px;
    min-width: 280px;
    color: #ffffff;
    height: 440px;
    border-radius: 16px;
    padding: 0;
    margin-left: 60px;
    margin-top: 10px;
}

.style_form_singup {
    display: none;
    background: #707F99;
    /*width: 900px;*/
    min-width: 280px;
    color: #ffffff;
    height: 100%;
    border-radius: 16px;
    padding: 20px 5px 20px 5px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 10px;
}

.style_error_not_user {
    display: none;
    background: #707F99;
    width: 340px;
    min-width: 280px;
    color: #ffffff;
    height: 440px;
    border-radius: 16px;
    padding: 0;
    margin-left: 60px;
    margin-top: 10px;
}

.style_go_password_recovery_for_email {
    display: none;
    background: #707F99;
    width: 340px;
    min-width: 280px;
    color: #ffffff;
    height: 440px;
    border-radius: 16px;
    padding: 0;
    margin-left: 60px;
    margin-top: 10px;
}

.style_password_recovery_for_email {
    position: relative;
    background: #707F99;
    width: 340px;
    min-width: 280px;
    color: #ffffff;
    height: 440px;
    border-radius: 16px;
    padding: 0;
    margin-left: 60px;
    margin-top: 10px;
}

.style_answer_for_password_recovery {
    display: none;
    position: relative;
    background: #707F99;
    width: 340px;
    min-width: 280px;
    color: #ffffff;
    height: 440px;
    border-radius: 16px;
    padding: 0;
    margin-left: 60px;
    margin-top: 10px;
}

.style_form_reset_password {
    position: relative;
    background: #707F99;
    width: 340px;
    min-width: 280px;
    color: #ffffff;
    height: 440px;
    border-radius: 16px;
    padding: 0;
    margin-left: 60px;
    margin-top: 10px;
}

.style_error_not_confirm_singup {
    display: none;
    position: relative;
    background: #707F99;
    width: 340px;
    min-width: 280px;
    color: #ffffff;
    height: 440px;
    border-radius: 16px;
    padding: 0;
    margin-left: 60px;
    margin-top: 10px;
}

.content_main_page_block_text {
    width: 100%;
    font-family: 'RobotoCondensed-Bold', serif;
    color: #4F4F4F;
    text-transform: uppercase;
}

.content_main_page_block_text > div {
    display:flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.top_title_main_page {
    font-size: 52px;
    line-height: 61px;
    width: 530px;
    text-align: center;
    margin-top: 0;
}

.bottom_title_main_page {
    font-size: 36px;
    width: 453px;
    line-height: 42px;
    text-align: center;
}

.bottom_title_main_page > span {
    color:#707F99;
}

.link_singup {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
}
.link_singup:hover {
    color: #ffffff;
    text-decoration: none;
}
.link_singup:focus {
    color: #ffffff;
    text-decoration: none;
}
/*Стили для главной страницы
---Конец---
*/

/*Стилизация Чекбоксов
---Начало---
*/
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
    margin-left: 15px;
    display: block;
    position: relative;
    padding-left: 55px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 17px;
    color: #ffffff;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 3px solid #ffffff;
    position: absolute;
    left: 0;
    top: 2px;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
    width: 10px;
    top: -3px;
    left: 5px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*Стилизация Чекбоксов
---Конец---
*/

/*Стили для страницы About
---Начало---
*/

.top_line_text_about_page {
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;
    min-height: 60px;
    height: 100%;
    background: #E0E0E0;
}

.block_middle_content_about_page {
    margin: 0;
    padding: 50px 40px;
    font-size: 18px;
    display: flex;
    background: #F2F2F2;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1400px) {

    .block_middle_content_about_page {
        font-size: 16px;
    }
}

.text_block_about_page {
    padding-right: 40px;
}
.text_block_about_page > div {
    margin-bottom: 25px;
    line-height: 21px;
}

@media screen and (min-width: 1600px) {

    .text_block_about_page > div {
        line-height: 25px;
    }
}

.text_block_about_page > div > p{
    margin: 0;
}

.site-about > .navigation_blocks > .navigation_block {
    cursor: pointer;
}

.site-about > .tab {
    margin-bottom: 10px;
}

.site-about > .tabcontent {
    margin-top: 10px;
    border-radius: 12px;
    padding: 15px 40px;
    background: #707F99;
    color: #FFFFFF;
    font-size: 18px;
}

.site-about > .tabcontent > p {
    line-height: 21px;
}
.site-about > .tabcontent > p:not(:last-child) {
    margin-bottom: 20px;
}
.site-about > .tabcontent > p:last-child {
    margin-bottom: 0;
}

.site-about > .tabcontent > p > a {
    color: #ccc;
}

.site-about > .tab > div:hover {
    background: url('/../images/elements/active_navigation_block.png') no-repeat;
    background-size: 100% 100%;
    color: #ffffff;
}

.site-about > .tab > div.active {
    background: url('/../images/elements/active_navigation_block.png') no-repeat;
    background-size: 100% 100%;
    color: #ffffff;
}
.site-about > .tab > div.active > .stage_number {
    color: #FFFFFF;
}

@media screen and (max-width: 1400px) {

    .site-about > .tabcontent {
        font-size: 16px;
    }
}
/*Стили для страницы About
---Конец---
*/


/*Стили для дорожной карты
---Начало---
*/
#showRoadmapProject > .modal-lg {
    display: flex;
    justify-content: center;
}
#showRoadmapSegment > .modal-lg {
    display: flex;
    justify-content: center;
}
.roadmap_segment_modal_header_title {
    display: flex;
    justify-content: center;
}
.roadmap_segment_modal_header_title_h2 {
    font-size: 32px;
    color: #4F4F4F;
    max-width: 900px;
    text-align: center;
}
.content_roadmap {
    padding: 5px;
    max-width: 100%;
    color: #4F4F4F;
}
.roadmap_row_header {
    display: flex;
    align-items: center;
    padding: 7px 0;
}
.roadmap_block_stage {
    width: 145px;
}
.roadmap_block_stage:nth-child(1) {
    width: 250px;
    font-size: 16px;
    font-weight: 700;
    padding-left: 10px;
}
.roadmap_block_stage:nth-child(2) {
    width: 100px;
}
.roadmap_block_stage > div:nth-child(1) {
    font-size: 13px;
    font-weight: 700;
}
.roadmap_block_stage:not(:nth-child(2)) > div:nth-child(2) {
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    padding-top: 5px;
}
.roadmap_block_stage:nth-child(2) > div:nth-child(2) {
    font-size: 12px;
    padding-top: 5px;
}



.roadmap_row_dates {
    max-width: 1370px;
    height: 60px;
    display: flex;
    align-items: center;
    border: 1px solid #4F4F4F;
    border-radius: 12px;
    padding: 2px 0;
}
.roadmap_block_name_segment {
    width: 250px;
    padding: 0 10px;
    font-size: 18px;
    border-right: 1px solid #E0E0E0;
    height: 50px;
    display: flex;
    align-items: center;
}
.roadmap_block_date_segment {
    width: 100px;
    border-right: 1px solid #E0E0E0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.roadmap_block_date {
    width: 145px;
    border-right: 1px solid #E0E0E0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.roadmap_block_date:last-child {
    border: none;
}
.roadmap_block_date_link_success {
    color: #4F4F4F;
    border-bottom: 1px solid #4F4F4F;
    text-decoration: none;
}
.roadmap_block_date_link_success:hover {
    color: #4F4F4F;
    text-decoration: none;
}
.roadmap_block_date_link_success:focus {
    color: #4F4F4F;
    text-decoration: none;
}

.roadmap_block_date_link_danger {
    color: #EB5757;
    border-bottom: 1px solid #EB5757;
    text-decoration: none;
}
.roadmap_block_date_link_danger:hover {
    color: #EB5757;
    text-decoration: none;
}
.roadmap_block_date_link_danger:focus {
    color: #EB5757;
    text-decoration: none;
}

/*Стили для дорожной карты
---Конец---
*/

/*Жирный шрифт
---Начало---
*/
.roboto_condensed_bold {
    font-family: 'RobotoCondensed-Bold', 'serif';
}
/*Жирный шрифт
---Конец---
*/

/*Стили для стрелки(открытие-закрытие контента) у ссылки с хлебными крошками
---Начало---
*/
.arrow_link {
    width: 15px;
    height: 12px;
    display: inline-block;
    position: relative;
    margin: 0 1rem;
}
.arrow_link > span {
    top: .5rem;
    position: absolute;
    width: 9px;
    height: 1px;
    background-color: #efefef;
    display: inline-block;
    transition: all .5s ease;
}
.arrow_link > span:first-of-type {
    left: 0;
    transform: rotate(45deg);
}
.arrow_link > span:last-of-type {
    right: 0;
    transform: rotate(-45deg);
}
.arrow_link.active_arrow_link > span:first-of-type {
    transform: rotate(-45deg);
}
.arrow_link.active_arrow_link > span:last-of-type {
    transform: rotate(45deg);
}
/*Стили для стрелки у ссылки с хлебными крошками
---Конец---
*/

/* Стилизация модального окна для удаления гипотезы
---Начало---
*/
#delete_hypothesis_modal .modal-header {
    background-color: #707F99;
    color: #ffffff;
    border-radius: 5px 5px 0 0;
}
#delete_hypothesis_modal .modal-body {
    background-color: #F2F2F2;
    color: #4F4F4F;
}
#delete_hypothesis_modal .modal-footer {
    background-color: #707F99;
    border-radius: 0 0 5px 5px;
}
/* Стилизация модального окна для удаления гипотезы
---Конец---
*/

/* Стилизация сводной таблицы проекта
---Начало---
*/
#showResultTableProject .modal-lg {
    display: flex;
    justify-content: center;
}
#showResultTableProject .modal-header {
    border-bottom: none;
    padding: 15px 15px 0 15px;
}

.TableResultProject {
    font-size: 12px;
    color: #4F4F4F;
    margin-bottom: 20px;
}


.containerHeaderTableResultProject {
    display:flex;
}
.headerTableResultProject {
    margin: 0 auto;
    min-width: 1270px;
    width: 1270px;
    background: #707F99;
    border-radius: 12px 12px 0 0;
}
.headerTableResultProject div{
    font-size: 32px;
    color: #F2F2F2;
    font-weight: 700;
    padding: 5px 0;
}
.headerTableResultProject span {
    margin-right: 10px;
}


.containerHeaderDataOfTableResultProject {
    display:flex;
}
.headerDataOfTableResultProject {
    display:flex;
    margin: 0 auto;
    border-bottom: 1px solid #B4B4B4;
    background: #F2F2F2;
}
.blocks_for_double_header_level {
    display:flex;
}
.blocks_for_single_header_level {
    display:flex;
    font-size: 14px;
    font-weight: 700;
    min-width: 65px;
    width: 65px;
    align-items: center;
}
.one_block_for_double_header_level:not(:first-child) {
    margin-left: 10px;
}
.one_block_for_double_header_level .stage {
    padding: 10px 0;
    font-size: 14px;
    font-weight: 700;
}
.one_block_for_double_header_level .columns_stage {
    display: flex;
}
.headerDataOfTableResultProject .column_segment_name {
    min-width: 200px;
    width: 200px;
    padding: 0 0 10px 0;
    color: #000000;
    border-right: 1px solid #B4B4B4;
}
.headerDataOfTableResultProject .regular_column {
    min-width: 65px;
    width: 65px;
    padding: 0 0 10px 0;
    color: #000000;
    border-right: 1px solid #B4B4B4;
}
.headerDataOfTableResultProject .first_regular_column_of_stage {
    max-width: 65px;
    width: 65px;
    padding: 0 0 10px 0;
    color: #000000;
    border-right: 1px solid #B4B4B4;
    border-left: 1px solid #B4B4B4;
}


.containerDataOfTableResultProject {
    display: flex;
}
.dataOfTableResultProject {
    margin: 0 auto;
}
.rowSegmentTableResultProject {
    display:flex;
}
.dataOfTableResultProject .container_all_stage{
    display:flex;
    width: 100%;
}
.dataOfTableResultProject .column_segment_name {
    min-width: 200px;
    width: 200px;
    padding: 5px 10px;
    border-right: 1px solid #B4B4B4;
}
.dataOfTableResultProject .column_segment_name span{
    margin-right: 5px;
}
.dataOfTableResultProject .column_business_model {
    min-width: 65px;
    width: 65px;
    padding: 5px 0;
}
.dataOfTableResultProject .regular_column {
    min-width: 65px;
    width: 65px;
    padding: 5px 0;
    border-right: 1px solid #B4B4B4;
}
.dataOfTableResultProject .first_regular_column_of_stage {
    max-width: 65px;
    width: 65px;
    padding: 5px 0;
    margin-left: 10px;
    border-right: 1px solid #B4B4B4;
    border-left: 1px solid #B4B4B4;
}

a.link_in_column_result_table {
    color: #4F4F4F;
    padding-bottom: 2px;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: all .3s ease;
}
a.link_in_column_result_table:hover {
    color: #000000;
    background-size: 100% 1px;
}
a.link_in_column_result_table:focus {
    color: #000000;
    background-size: 100% 1px;
}



@media screen and (min-width: 1800px) {

    .TableResultProject {
        font-size: 14px;
    }

    .headerTableResultProject {
        min-width: 1560px;
        width: 1560px;
    }

    .blocks_for_single_header_level {
        font-size: 16px;
        min-width: 80px;
        width: 80px;
    }

    .one_block_for_double_header_level .stage {
        font-size: 16px;
    }

    .headerDataOfTableResultProject .column_segment_name,
    .dataOfTableResultProject .column_segment_name {
        min-width: 250px;
        width: 250px;
    }

    .headerDataOfTableResultProject .regular_column,
    .headerDataOfTableResultProject .first_regular_column_of_stage,
    .dataOfTableResultProject .column_business_model,
    .dataOfTableResultProject .regular_column,
    .dataOfTableResultProject .first_regular_column_of_stage {
        min-width: 80px;
        width: 80px;
    }
}
/* Стилизация сводной таблицы проекта
---Конец---
*/