.open_fast
{
    display: block;
}
.open_fast.active
{
    display: none;
}
.popap_fast
{
    display: none;
}
.popap_fast.active
{
    display: block;
}
.cross-out
{
    cursor: pointer;
    font-size: 24px;
    margin-top: 25px;
}
.feed-exp
{
    display: none;
}
.feed-exp.active
{
    display: block;
    margin-top: -20px;
}

.stages
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
}

.stage
{
    width: 250px;
    height: 40px;
    background-color: #f5f3f2;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
    box-shadow: 1px 2px rgba(0,0,0,0.5);
}

.stage.active
{
    background-color: #9bcc60;
}

.stage span
{
    font-size: 14px;
    font-weight: 700;
}




